<h1>Add a New Restaurant!</h1>

<%= form_for(@restaurant) do |f| %> 

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :type %>
    <%= f.text_field :type %>

    <%= f.label :location, "address" %>
    <%= f.text_field :location, "address" %>

    <%= f.label :price_range %>
    <%= f.select(:price_range, ["$", "$$", "$$$"])%> 

    <br><br>

    <%= f.label :company_id, "Select a Company" %>
    <%= f.collection_select :company_id, Company.all, :id, :name, prompt: true %> 
    <br><br> 

    <% if !params[:vet_id] %> 
    
    
    <%= f.submit %>
    <% end %>