<h1><%= @restaurant.name %></h2> 

<p><%= @restaurant.type %></p>  
<p><%= @restaurant.price_range %></p> 
<p><%= @restaurant.location %></p> 
<p><%= @restaurant.city %></p>   

<%= "Add a review" link_to review_path %>

<%= "Edit" link_to edit_path %> 
<%= "Delete" link_to delete_path %> 