<h1>You added this restaurant:</h1>

<%= @restaurant.name %> 
<%= @restaurant.type %> 
<%= @restaurant.location %> 
<%= @restaurant.price_range %> 

<%= "Add a review" link_to review_path %>

<%= "Edit" link_to edit_path %> 
<%= "Delete" link_to delete_path %> 